server:
  port: 8000
spring:
  application:
    name: cambio-service
  datasource:
    url: jdbc:mariadb://localhost:3306/cambio_service
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: admin123
  flyway:
    url: jdbc:mariadb://localhost:3306/
    schemas: cambio_service
    user: root
    password: admin123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDB103Dialect
